.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container > iframe {
  transition: none 0s ease 0s;
  background: none transparent;
  opacity: 1;
  border: none;
  z-index: 2147483647;
  width: calc(100% + 2px) !important;
  height: calc(100% + 2px) !important;
  transform: translate(-1px, -1px);
}
